body {
  margin: 0;
}

#navbar,
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
}
.navLogo {
  height: 15%;
  width: 25%;

  margin-left: 40px;
}
body,
#app,
#main {
  height: 100vh;
  width: 100%;
}
.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
}
.profileDiv {
  border: 1px solid black;
  width: 70%;
  height: 70%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: white;
}
.profilePageCartDiv {
  width: 50%;
  height: 10%;
  background-image: url("/images/Cart.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.profileCartDiv {
  border: 1px solid black;
  width: 30%;
  height: max-content;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color: white;
}
.cartDiv {
  border: 1px solid black;
  width: 70%;
  height: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
}
.profilePicDiv {
  height: 30%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.profilePic {
  height: 150px;
  width: 150px;
}
.profileDetails {
  border: 1px solid black;
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5px;
  background-color: lightgrey;
  flex-wrap: wrap;
}
.cartTitle {
  border: 1px solid black;
  width: 70%;
  background-color: lightgrey;
}
.cartCheckout {
  border: 1px solid black;
  width: 30%;
  background-color: lightgrey;
}
.cartContents {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  height: 300px;
  background-color: lightgrey;
}
.topCartDiv {
  display: flex;
  flex-direction: row;
}
.bottomCartDiv {
  display: flex;
}
.profileID,
.profileName,
.profileLocation,
.profileEmail,
.profileActive {
  width: 95%;
  height: 12%;
  margin: 8px;
}
.form-group {
  margin: 20px;
}
#navbar {
  top: 1;
  position: sticky;
  background-color: rgba(161, 159, 159, 0.386);
  color: black;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
}
#nav-buttons {
  margin-left: auto;
  margin-right: 10px;
}
#nav-title {
  font-size: larger;
  margin-left: 10px;
}
#welcome-section {
  background-color: rgba(161, 159, 159, 0.386);
  padding: 10px;
}
#welcome-desc {
  background-color: rgba(251, 60, 60, 0.626);
  padding: 10px;
}
#home-buttons {
  display: flex;
  justify-content: center;
  background-color: red;
  padding: 10px;
}
#button {
  background-color: black;
  color: white;
  margin-left: 5px;
}
#available-button {
  display: flex;
  margin-top: 15px;
  background-color: red;
  color: white;
  padding: 10px;
}

.allVehiclesPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightslategray;
}
.allVehiclesTopDiv {
  border: 1px solid black;
  height: 20%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
.allVehiclesBottomDiv {
  border: 1px solid black;
  height: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: scroll;
}
.searchBarDiv {
  width: 60%;
}
.searchBar {
  border: 1px solid black;
  width: 100%;
  height: 50%;
}
.filters {
  border: 1px solid black;
  width: 30%;
  height: 50%;
}
.vehicleListing {
  border: 1px solid black;
  height: 500px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgrey;
}
.vehicleImgBox {
  height: 80%;
  width: 40%;
  margin: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.vehicleImg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.vehicleDescription {
  border: 1px solid black;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.vehicleName {
  text-align: center;
  border: 1px solid black;
  width: 95%;
  height: 10%;
}
.addToCart {
  border: 1px solid black;
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allVehiclesCart {
  width: 40%;
  height: 40%;
  margin: 5px;
}
#addToCartButton {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  margin-left: 5px;
}
#hub-view {
  display: flex;
  justify-content: center;
}
#hub-title-text {
  display: flex;
  justify-content: center;
  /* text-decoration: underline; */
  color: white;
  text-shadow: 2px 2px 2px black;
}
#locations-list {
  margin: auto;
  color: white;
  text-shadow: 2px 2px 2px black;
}
#locations-list:hover {
  color: rgb(202, 202, 202);
}
#hubs {
  background-color: grey;
  border-radius: 30px;
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 50%;
  box-shadow: 10px 10px 5px black;
}
#back-button {
  text-decoration: none;
  margin-left: 3px;
  color: white;
  text-shadow: 2px 2px 2px black;
}
#back-button:hover {
  color: rgb(202, 202, 202);
}
#login-form {
  background-color: grey;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 150px;
  box-shadow: 10px 10px 5px black;
}
#register-form {
  background-color: grey;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 150px;
  box-shadow: 10px 10px 5px black;
}
#link {
  text-decoration: none;
  color: white;
}
#link:hover {
  text-shadow: 2px 2px 2px black;
}
#about-container {
  background-color: grey;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 650px;
  box-shadow: 10px 10px 5px black;
}
#car-rental-img {
  height: 300px;
}
