body {
  margin: 0;
  font-family: Sonsie One;
}
#main {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}
#navbar {
  /* top: 1; */
  position: sticky;
  background-color: #cdcdcd;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}
#nav-buttons {
  margin-left: auto;
  margin-right: 10px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
}
.navLogo {
  position: sticky;
  width: 200px;
  margin: 15px;
}
.navLogo:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#app,
.profile {
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5d737e;
}
.profileDiv {
  border-radius: 25px;
  width: 60%;
  height: 80%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 35px;
  background-color: #cdcdcd;
}
.profileCartDiv {
  border-radius: 25px;
  width: 30%;
  height: max-content;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color: white;
}
.cartDiv {
  border-radius: 25px;
  width: 70%;
  height: 52%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
}
.profilePicDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
}
.profilePic {
  height: 70%;
  background-image: url(/images/profilePic.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.profileDetails {
  border: 1px solid black;
  border-radius: 25px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: white;
}
.profileDetailsForm {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}
.cartTitle {
  border: 1px solid black;
  border-top-left-radius: 25px;
  width: 70%;
  background-color: lightgrey;
}
.cartCheckout {
  border: 1px solid black;
  border-top-right-radius: 25px;
  width: 30%;
  background-color: lightgrey;
}
.cartContents {
  border: 1px solid black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  padding: 10px;
  height: 300px;
  background-color: lightgrey;
}
.topCartDiv {
  display: flex;
  flex-direction: row;
}
.bottomCartDiv {
  display: flex;
}
.profileID,
.profileName,
.profileLocation,
.profileEmail,
.profileActive,
.profilePassword {
  text-align: center;
  height: 70px;
  width: 100%;
}
.editProfileBtn,
.submitEditBtn,
.cancelEditBtn {
  width: 40%;
}
.username,
.id,
.password,
.email,
.location,
.active,
.form-control,
.viewCart {
  margin: 0;
}
.profilePageCartDiv,
.viewCartLink {
  margin: 15px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
#welcome-section {
  margin: 10px;
  background-color: rgba(215, 207, 207, 0.466);
  border-radius: 25px;
  box-shadow: 10px 10px 5px black;
  padding: 10px;
}
#welcome-desc {
  background-color: rgba(251, 60, 60, 0.626);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#home-buttons {
  display: flex;
  justify-content: center;
  background-color: #d62839;
  max-width: 3000px;
  padding: 10px;
}
.homePageLink {
  text-decoration: none;
}
.homePageLink:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 0.5s ease;
}
#button {
  background-color: black;
  border-radius: 25px;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
#button:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#available-button {
  text-decoration: none;
  border-radius: 25px;
  border: none;
  display: flex;
  margin-top: 15px;
  background-color: #d62839;
  color: white;
  box-shadow: 5px 5px 5px black;
  padding: 10px;
}
.allVehiclesPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.allVehiclesTopDiv {
  border: 1px solid black;
  height: 8%;
  margin: 40px 40px 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(251, 60, 60, 0.626);
  border-radius: 25px;
}
.allVehiclesBottomDiv {
  border: 1px solid black;
  height: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: scroll;
}
.searchBarDiv {
  width: 60%;
}
.searchBar {
  border: 1px solid black;
  width: 100%;
  height: 50%;
}
.filters {
  width: 20%;
  height: 30%;
}
.dropDown {
  width: 100%;
  height: 100%;
}
.vehicleListing {
  max-height: 30%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgrey;
  padding: 10px;
}
.vehicleImgBox {
  width: 400px;
}
.vehicleImg {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.vehicleDescription {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vehicleDetails {
  margin: 0;
}
.vehicleName {
  text-align: center;

  width: 100%;
  height: 10%;
}
.addToCart {
  width: 10%;
  height: 60%;
  display: flex;

  justify-content: center;
  align-items: flex-end;
  background-image: url("./images/Cart.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.addToCartBtn {
  bottom: 0;
  cursor: pointer;
}
.allVehiclesCart {
  width: 40%;
  height: 40%;
  margin: 5px;
}
#addToCartButton {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  margin-left: 5px;
}
.hubViewDiv {
  margin: 5px;
}
#hub-view {
  display: flex;
  justify-content: center;
  height: 10%;
}
#hub-title-text {
  display: flex;
  justify-content: center;
  /* text-decoration: underline; */
  color: white;
  text-shadow: 2px 2px 2px black;
  margin: 0;
}
#locations-list {
  text-decoration: none;
  margin: 10px;
  color: white;
  text-shadow: 2px 2px 2px black;
}
#locations-list:hover {
  color: rgb(202, 202, 202);
}
#hubs {
  background-color: grey;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  min-width: 40%;
  max-width: 65%;
  height: 35%;
  box-shadow: 10px 10px 5px black;
}
#back-button {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  color: white;
  text-shadow: 2px 2px 2px black;
}
#back-button:hover {
  color: rgb(202, 202, 202);
}
#login-form {
  background-color: grey;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 300px;
  box-shadow: 10px 10px 5px black;
}
#register-form {
  background-color: grey;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 400px;
  box-shadow: 10px 10px 5px black;
}
#guest-form {
  background-color: grey;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 340px;
  box-shadow: 10px 10px 5px black;
}
#link {
  text-decoration: none;
  color: white;
}
#link:hover {
  text-shadow: 2px 2px 2px black;
}
#about-container {
  background-color: gray;
  color: white;
  text-shadow: 3px 3px 3px black;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 900px;
  box-shadow: 10px 10px 5px black;
}
#car-rental-img {
  height: 300px;
}
#text-field {
  margin-top: 20px;
  margin-bottom: 20px;
}
#text-box {
  border: none;
  border-radius: 25px;
  height: 25px;
  width: 80%;
}
#sign-up-title {
  margin-bottom: 25px;
  color: white;
}
#nav-quote {
  margin: auto;
  color: #d62839;
}
#log-link {
  text-decoration: none;
  color: #d62839;
}
#guest-link {
  text-decoration: none;
  color: #d62839;
}
#log-link:hover {
  color: #8d1c27;
}
#guest-link:hover {
  color: #8d1c27;
}
.searchBar {
  border-radius: 25px;
  height: 30px;
}
/* #main{
  background-image: url("images/types-classic-cars.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */
#order-button-green {
  background-color: green;
}

#order-button-red {
  background-color: red;
}
#google-map {
  display: flex;
  align-items: center;
}

#hubs-form{
  background-color: grey;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 700px;
  box-shadow: 10px 10px 5px black;
}

